<a href="https://colab.research.google.com/github/ksy202206153/Aipython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
num1_str = input("첫 번째 정수를 입력하세요")
num2_str = input("두 번째 정수를 입력하세요")
try :
  num1 = int(num1_str)
  num2 = int(num2_str)

  if num1 > num2 :
    print(f"{num1}은 {num2}보다 큽니다")
  elif num1 < num2 :
    print(f"{num1}은 {num2}보다 작습니다")
  else :
    print(f"{num1}은 {num2}와 같습니다")

except ValueError:
    print("유효한 정수를 입력하세요")

첫 번째 정수를 입력하세요3.5
두 번째 정수를 입력하세요3
유효한 정수를 입력하세요

In [9]:
num1_str = input("첫 번째 정수를 입력하세요")
num2_str = input("두 번째 정수를 입력하세요")

num1 = int(num1_str)
num2 = int(num2_str)

if num1 > num2 :
  print(f"{num1}은 {num2}보다 큽니다")
elif num1 < num2 :
    print(f"{num1}은 {num2}보다 작습니다")
else :
  print(f"{num1}은 {num2}와 같습니다")

첫 번째 정수를 입력하세요3
두 번째 정수를 입력하세요6
3은 6보다 작습니다

In [28]:
num1 = int(input("첫 번째 정수를 입력하세요"))
num2 = int(input("두 번째 정수를 입력하세요"))
num3 = int(input("세 번째 정수를 입력하세요"))

max_num = num1
if max_num < num2 :
  max_num = num2
if max_num < num3 :
  max_num = num3
print(f"{num1},{num2}.{num3}중에서 {max_num}이 가장 큰 수 입니다.")

첫 번째 정수를 입력하세요2
두 번째 정수를 입력하세요111
세 번째 정수를 입력하세요33
2,111.33중에서 111이 가장 큰 수 입니다.

In [38]:
score_str = input("시험 점수 (0부터 100 사이의 정수)를 입력하시오")

try :
  score = int(score_str)
  if 0 < score <= 100 :
    if score >= 90 :
      grade = 'A'
    elif 80<= score <90 :
      grade = 'B'
    elif 70 <= score < 80 :
      grade = 'C'
    elif 60 <= score < 70 :
      grade = 'D'
    else :
      grade = 'F'
    print(f"당신의 학점은 {grade}입니다.")
  else :
   print("0~100사이의 정수를 입력하세요")
except ValueError :
  print("유효한 정수를 입력하세요")

시험 점수 (0부터 100 사이의 정수)를 입력하시오123
0~100사이의 정수를 입력하세요

In [46]:
year = int(input("연도를 입력하세요 :"))
if (year % 4 == 0 and year % 100 != 0) or (year%400 == 0) :
  print(f"{year}년은 윤년입니다")
else :
  print(f"{year}년은 윤년이 아닙니다")

연도를 입력하세요 :2028
2028년은 윤년입니다

In [65]:
for i in range(1,10,2) :
 print(i)

1
3
5
7
9

In [63]:
count = 0
while count <3 :
  print(count)
  count += 1

0
1
2

In [79]:
n = int(input("양의 정수 N을 입력하세요"))
if n <=0 :
  print("양의 정수를 입력하세요")
else :
  sum = 0
  for i in range (1, n + 1) :
    sum += i
  print(f"1부터 {n}까지 정수의 합은 {sum}입니다.")

양의 정수 N을 입력하세요3
1부터 3까지 정수의 합은 6입니다.

In [88]:
count = 0
print("0부터 9까지 출력:")
while count < 10 :
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [85]:
print("0부터 9까지 출력:")
for i in range(10) :
  print(i)
print("for 루프 종료")

0부터 9까지 출력
0
1
2
3
4
5
6
7
8
9
for 루프 종료