<a href="https://colab.research.google.com/github/ksy202206153/Aipython/blob/main/250404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
kind = input("온도 종류(섭씨 또는 화씨) : ")
temp = int(input(kind + "온도 :"))

if kind == '섭씨' :
  print(f"화씨온도{temp *9/5+32}")
else :
  print(f"섭씨온도{(temp-32)*5/9}")

온도 종류(섭씨 또는 화씨) : 섭씨
섭씨온도 :20
화씨온도68.0

In [27]:
kind = input("온도 종류(섭씨 또는 화씨) : ")
temp = int(input(kind + "온도 :"))
fah = temp *9/5+32
cel = (temp-32)*5/9
if kind == '섭씨' :
  print("화씨 : %.2f "% (fah))
else :
  print("섭씨 : %.2f "% (cel))

온도 종류(섭씨 또는 화씨) : 화씨
화씨온도 :68
섭씨 : 20.00

In [33]:
import random

print("1부터 100까지 수 하나를 정했습니다.")
print("이 숫자를 맞춰보세요")

answer = random.randint(1,100)
times = 0

while True :
  user = int(input("1~100 숫자 입력 : "))
  times += 1

  if user == answer :
    break
  elif user < answer :
    print(f"{user}보다 큽니다.")
  else :
    print(f"{user}보다 작습니다.")

print(f"정답입니다.{times}회 만에 맞혔습니다.")

1부터 100까지 수 하나를 정했습니다.
이 숫자를 맞춰보세요
83
1~100 숫자 입력 : 50
50보다 큽니다.
1~100 숫자 입력 : 70
70보다 큽니다.
1~100 숫자 입력 : 80
80보다 큽니다.
1~100 숫자 입력 : 85
85보다 작습니다.
1~100 숫자 입력 : 82
82보다 큽니다.
1~100 숫자 입력 : 83
정답입니다.6회 만에 맞혔습니다.

In [38]:
import random

list = []
for i in range(1, 7):
  num = random.randint(1,45)
  list.append(num)
print(list)

[40, 45, 17, 41, 7, 34]

In [52]:
성적 = [85, 92, 78, 90, 87]

평균 = sum(성적)/len(성적)
print(평균)

86.4

In [53]:
성적 = [85, 92, 78, 90, 87]
총합 = 0
항목수 = 0
평균 = 0

for 점수 in 성적 :
  총합 += 점수
  항목수 += 1
평균 = 총합/항목수
print(평균)

86.4

In [54]:
학생들 = [("철수", 85), ("영희", 92), ("민수", 65), ("지영", 78)]
합격자 = []

for 학생, 점수 in 학생들:
    if 점수 >= 70:
        합격자.append(학생)

print(합격자)  # ['철수', '영희', '지영']

['철수', '영희', '지영']

In [55]:
fruit = ["사과", "포도", "바나나"]
first_fruit = fruit[0]
print(f"첫 과일 : first_fruit")

last_fruit = fruit[-1]
print(f"마지막 과일 : last_fruit")

첫 과일 : first_fruit
마지막 과일 : last_fruit

In [58]:
fruit = ["사과", "포도", "바나나"]
fruit.append("오렌지")
fruit.remove("바나나")
print(fruit)

['사과', '포도', '오렌지']

In [59]:
numbers = [1, 3, 7, 10, 13]
for i in numbers :
  print(i)

1
3
7
10
13

In [60]:
colors = ["red", "green", "blue" ]
colors[1] = "yellow"
print(colors)

['red', 'yellow', 'blue']

In [63]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combine_list =list1 + list2
print(combine_list)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]